@import "tailwindcss";

.animate-fade-in-down {
    animation: fadeInDown 1s ease-in-out;
  }
  
  @keyframes fadeInDown {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
  }
  
  img {
    transition: opacity 0.3s ease-in-out;
  }
  
  img:hover {
    opacity: 0.9;
  }